body {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    font-family: 'Share Tech Mono', monospace;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

h2 {
    font-size: 40px;
}

button {
    margin-top: 20px;
    padding: 5px 10px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 30px;
    background-color: rgba(255,255,255,0.75);
    border-color: rgb(0,0,0);
    border-width: 3px;
}

button:active {
    position: relative;
    top: 5px;
}

#trivia-container {
    position: absolute;
    left: 610px;
    top: 190px;
    width: 700px;
    height: 700px;
    background: rgba(255,255,255,0.75);
    -moz-border-radius: 350px;
    -webkit-border-radius: 350px;
    border-radius: 350px;
    font-size: 35px;
}

#game-intro {    
    font-size: 50px;
}

#instructions {
    margin-top: 20px;
    font-size: 40px;
}

#timer {
    position: absolute;
    left: 341px;
    top: 110px;
    font-size: 50px;
}

#question, #wrong, #timeout, #answer, #congrats, #game-over {
    position: absolute;
    width: 550px;
    height: 100px;
    top: 250px;
    left: 75px;
    text-align: center;
}

#choices {
    position: absolute;
    top: 335px;
    left: 75px;
}

#choices > p {
    margin-top: 15px;
}

.pick {    
    background-color: rgba(100,100,200,0.5);
}

.hide {
    display: none;
}