body {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    font-family: 'Share Tech Mono', monospace;
}

#trivia-container {
    position: fixed;
    left: 610px;
    top: 190px;
    width: 700px;
    height: 700px;
    background: rgba(255,255,255,0.75);
    -moz-border-radius: 350px;
    -webkit-border-radius: 350px;
    border-radius: 350px;
    font-size: 35px;
}

#question {
    position: absolute;
    top: 200px;
    left: 100px;
}

#choices {
    position: absolute;
    top: 300px;
    left: 100px;
}

.pick {
    background-color: rgba(100,100,200,0.5);
}